/* Styling */
footer {
  background-color: var(--6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60);
}

footer * {
  color: var(--d53153c5-2bb6-4e80-8a94-25578440e6e1);
}


footer a {
  color: var(--a4a08165-7fb4-4139-a577-6eef8a521f9f);
  text-decoration: underline;
}

footer nav ul {
  list-style: none;
}

footer nav ul a:hover {
  text-decoration: underline;
}

footer nav ul li span {
  text-decoration: line-through;
}

footer nav button {
  color: var(--6b1ee82f-3cb6-4887-B0FD-57c6d8aeea60);
  background: var(--d53153c5-2bb6-4e80-8a94-25578440e6e1);
  border-radius: 1vw;
}

footer nav button:hover {
  color: var(--6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60);
  background: var(--34ace198-814d-4bdd-a836-f8d0bd5d73f1);
  border-radius: 1vw;
}

/* Behaviour */
footer nav button:hover {
  cursor: pointer;
}

/* Layout */

footer {
  display: flex;
  flex-direction: column;
}

footer img {
  padding: 12vw 4vw;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13vw 3vw;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

footer nav button {
  padding: 1.2vw 5vw;
}

footer section {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

footer section content {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 2vw;
}

/* Blocks */
footer section content img {
  width: 26vw;
}