@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Kanit";
  border: 0;
  text-decoration: none;
}

/* Variables */
:root {
  /* Theme */
  --a4a08165-7fb4-4139-a577-6eef8a521f9f: #e6a4f4;
  --0cbc23af-08ba-4603-b0d4-faf972f132fb: #6e0f83;
  --d53153c5-2bb6-4e80-8a94-25578440e6e1: #fefefe;
  --b6fb159a-a975-467c-ace7-66acf494b503: #0b020e;
  --6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60: #000000;
  --34ace198-814d-4bdd-a836-f8d0bd5d73f1: #fdf8ff;
  --ebc70766-d6f5-475d-8006-409067ec6ef6: #322738;
  --fab086d1-ad61-4538-9c7f-c8f016f77d40: #f8f4fa;
}

/* Styling */
main {
  color: var(--6b1ee82f-3cb6-4887-b0fd-57c6d8aeea60);
  background: var(--fab086d1-ad61-4538-9c7f-c8f016f77d40);
}

main section:nth-child(even) {
  background: var(--34ace198-814d-4bdd-a836-f8d0bd5d73f1);
}

main section content p {
  font-weight: 250;
  color: var(--6b1ee82f-3cb6-4887-B0FD-57c6d8aeea60);
}

* section p {
  color: var(--6b1ee82f-3cb6-4887-B0FD-57c6d8aeea60);
}

* a:hover, a:visited, a:link {
  color: var(--a4a08165-7fb4-4139-a577-6eef8a521f9f);
  text-decoration: underline;
}

/* Behaviour */
main {
  display: flex;
  flex-direction: column;
}

main section {
  padding: 2vw 20vw;
  display: flex;
  flex-direction: row;
  gap: 6vw;
}

main section content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

/* Layout */
* main {
  padding: 4vw 0vw 6vw 0vw;
}

/* Blocks */
* section h1 {
  font-size: 3.4vw;
  font-weight: 600;
  line-height: 1vw;
}

* section h2 {
  font-size: 2.8vw;
  font-weight: 530;
  line-height: 0.4vw;
}

* section h3 {
  font-size: 2vw;
  font-weight: 320;
  line-height: 1vw;
}

* section h5 {
  font-size: 1.2vw;
  font-weight: 380;
  line-height: 0vw;
}

* section h6 {
  font-size: 0.9vw;
  font-weight: 200;
  line-height: 0vw;
}

* section p {
  font-size: 1.6vw;
  font-weight: 310;
  line-height: 1.8vw;
}

main section img {
  width: 20vw;
  height: 20vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #999;
  position: fixed;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-radius: 100vw;
}